<!DOCTYPE html>
<html>

<head>
    <title>Sitters Available</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/search.css">
</head>

<body>
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">
    
          <div class="logo d-flex">
                <h1 class="text-light"><a href="index.html"><span>Pet'henni</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            
            </div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/users/profile">{{ session['first_name'] }}</a>
                </li>
                <!-- Other navigation items -->
            </ul>

    
          <nav id="navbar" class="navbar">
            <ul>
                <li class="nav-item">
                    <a  href="/users/profile">
                        <img src="{{session['image']}}" alt="Profile Picture" width="30" height="30"
                            class="rounded-circle">
                    </a>
                </li>
              <li><a class="nav-link scrollto" href="/users/sitter/profile">Sitter Profile</a></li>
            <li><a class="nav-link "href="/sitter/new">Become a sitter</a></li>
            <li><a class="nav-link  "href="/searching">Search for Sitters</a></li>
              <li><a class="getstarted scrollto" href="/logout">Logout</a></li>
             
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->
    
        </div>
    </header><!-- End Header -->
    <div class="container mt-5 p-5">
        <h1>My Pets</h1>

        {% for pet in pets %}
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                <h5 class="card-title">{{ pet.name }}</h5>
                <p class="card-text">Breed:{{pet.id}} {{ pet.breed }}</p>
            </div>
            <div class="col-3">
                <a href="/users/{{pet.id}}/edit" class="btn btnorg">Edit</a>
                <a href="/users/{{pet.id}}/destroy" class="btn btnorg">Delete</a>
                <a href="/users/{{pet.id}}/show" class="btn btnorg ">Show</a>
            </div>
            </div>

            </div>
        </div>
        {% endfor %}

        <a href="/users/pet/show" class="btn  btn-success">Add Pet</a>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
